html {
  font: normal 16px/1.9em "Nunito", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  height: 100%;
}
body {
  height: 100%;
  overflow-y: scroll;
  touch-action: manipulation;
  background-color: #fff;
}
*::placeholder {
  font-size: 14px;
}
iframe {
  border-radius: 0.25rem;
}
.noscroll {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.page-enter-active, .page-leave-active {
  transition-duration: 150ms;
  transition-property: opacity;
  transition-timing-function: ease;
}
.page-enter, .page-leave-active {
  opacity: 0;
}
.color-animation {
  animation: changeColor 10s infinite;
}
@keyframes changeColor {
  0% {
      filter: hue-rotate(0deg);
 }
  100% {
      filter: hue-rotate(360deg);
 }
}
