/* MARKDOWN */
  
  .prose{
    word-break: break-word;
    overflow-wrap: anywhere;
  }
  .prose img,
  .prose video{
    width: 100%;
    border-radius: .25rem;
  }
  .prose pre {
    position: relative;
  }
  .prose *:not(pre) code {
    padding: 2px;
    border-radius: .25rem; 
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    background-color: #f9f9f9;
  }
  .prose pre code {
    overflow: hidden;
    white-space: pre-wrap;
  }
  .prose .syntax-code-block{
    display: block;
    padding-top: 3em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }
  .prose .syntax-code-block .code-language{
    position: absolute;
    width: 100%;
    display: flex;
    top: 0;
    left: 0;
    justify-content: flex-end;
    padding: 10px;
    border-radius: .25rem .25rem 0 0;
    background-color: #f9f9f9;
    color: #212121;
  }
  .prose blockquote {
    border-left: 10px solid #484848;
    border-radius: .25rem;
    padding: 0.5rem 10px;
    background-color: #eeeeeeb3;
    color: #212121;
    quotes: "\201C""\201D""\2018""\2019";
  }
  .prose blockquote:before {
    content: open-quote;
    line-height: 0;
    vertical-align: -5px;
    font-size: 2em;
    color: #484848;
  }