@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    font-family: "Archivo";
 }
body {
    touch-action: manipulation;
    scroll-behavior: smooth;
    background-color: #ffffff;
}
*::placeholder{
    font-size: 14px;
}
iframe{
    border-radius: .25rem;
}

.noscroll {
    height: 100%;
    width: 100%;
    overflow: hidden;
}